.buttonHeader{
    width:15rem;
    height: 4rem;
    color:rgb(95,20,216);
    border-radius: 5rem;
    border-color: rgb(95,20,216);
    background-color:white ;
}
.buttonHeader:hover{
font-size: 1.5rem;
}

.dark{
    width:15rem;
    height: 4rem;
    color:white;
    border-radius: 5rem;
    border-color: white;
    background-color:transparent;
}