.mainbox {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 69rem;
  border: 1px solid rgb(95, 20, 216);
  margin-top: 0.5rem;
  transform: translateX(-50%);
  border-radius: 2rem;
  background-color: white;
}

.list {
  list-style: none;
  width: 100%;
  font-size: 2rem;
  padding: 1.2rem;
  border-radius: 2rem;
}

.listItem{
  display:flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 2rem;
}

.listItem :nth-child(1){
  font-size: 1.5rem;
  margin-left: 1rem;
}
.listItem:hover {
  background-color: rgba(110, 57, 196, 0.13);
}

/* spinner */

.ldsring {
  display: inline-block;
  position: absolute;
  left: 45%;
  top:30%;
  width: 80px;
  height: 80px;
}
.ldsring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(87,26,208) transparent transparent transparent;
}
.ldsring div:nth-child(1) {
  animation-delay: -0.45s;
}
.ldsring div:nth-child(2) {
  animation-delay: -0.3s;
}
.ldsring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

