.gifts {
  height: 100%;
  width: 80%;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
}

.boxGifts {
  width: 80%;
  background-color: rgba(231, 231, 231);
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  margin-top: 2rem;
}

.dark.boxGifts {
  background-color: rgba(33, 33, 33, 0.726);
}
.gif {
  margin: 1rem;
}
.gif:hover {
  -webkit-box-shadow: 1px 0px 30px 0px rgba(50, 50, 50, 1);
  -moz-box-shadow: 1px 0px 30px 0px rgba(50, 50, 50, 1);
  box-shadow: 1px 0px 30px 0px rgba(50, 50, 50, 1);
  transition: all 0.8s;
}

.dark.gif:hover {
  -webkit-box-shadow: 1px 1px 15px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 1px 1px 15px 0px rgba(255, 255, 255, 1);
  box-shadow: 1px 1px 15px 0px rgba(255, 255, 255, 1);
  transition: all 0.8s;
}

.title {
  font-size: 2.9rem;
  color: rgb(87, 26, 208);
}

.dark.title {
  font-size: 2.9rem;
  color: white;
}

.title2 {
  font-size: 2rem;
  color: rgb(87, 26, 208);
}

.dark.title2 {
  font-size: 2rem;
  color: white;
}
