.inputtext{
    height: 6rem;
    width:60rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    outline: none;
    
}

.search{
    height: 6rem;
    width:9rem;
    border-left: none;
    border-style: none;
    background-color:rgb(95,20,216) ;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.search:hover{
    background-color: rgba(95, 20, 216, 0.749)
}