.navbar {
  height: 100%;
  width: 80%;
  padding: 4rem;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img {
  width: 45rem;
}
@media screen and (max-width: 420px){
  .img{
    border:1px solid red;
    width: 30rem;
  }
}

.sectionSearch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainTitle {
  color: rgb(95, 20, 216);
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.mainTitle span {
  font-weight: 900;
}

.dark.mainTitle {
  color: white;
}
